body {
  background-image: url("/icons/evan/evanbg.jpg");
        background-repeat:no-repeat;
       background-size:cover;
} 
h1 {
  color: white;
}
td {
  border: 1px solid white;
  background-color: #4CAF50;
  color: white;
}
